# Xcode
DerivedData/
build/
*.xcuserstate
*.xcscmblueprint
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/

# macOS
.DS_Store

# SwiftPM
.swiftpm/
Package.resolved

# CocoaPods (if used)
Pods/

# Carthage (if used)
Carthage/Build/

# Firebase (keep the plist if you’re okay committing it; otherwise uncomment next line)
# GoogleService-Info.plist
